@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  box-shadow: 0px 4px 10px 0px #00000080;
}

.header__container {
  margin: 0 auto;
  width: 100%;
  max-width: 1341px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.header__container--logo {
  width: 100%;
  max-width: 369px;
  display: flex;
  align-items: center;
}

.header__container--logo--title {
  margin-right: 30px;
  font-family: 'Yeseva One';
  font-weight: 400;
  font-style: Regular;
  font-size: 35px;
  line-height: 120%;
  letter-spacing: 0%;
}

.header__container--logo--btn {
  background-color: #fff2f2;
  font-family: Roboto;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #a84a44;
  border: none;
  border-radius: 36px;
  max-width: 250px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 20px;
}

.header__container--logo--btn--img {
  margin-right: 10px;
  margin-left: 10px;
}

.header__container--nav {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
}

.header__container--nav--link {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #011936;
}

.header__container--user {
  width: 100%;
  max-width: 145px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__container--user--login {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #43607c;
  display: flex;
  align-items: center;
  gap: 13px;
}

.container {
  display: flex;
  padding-top: 40px;
  align-items: center;
  font-family: Arial, sans-serif;
  justify-content: center;
  width: 100%;
}

.container__left {
  background: #fff;
  padding-top: 49px;
}

.container__title {
  font-family: Yeseva One;
  font-weight: 400;
  font-style: Regular;
  font-size: 42px;
  line-height: 120%;
  letter-spacing: 0%;
  max-width: 463px;
  padding-bottom: 15px;
}

.container__subtitle {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  color: #43607C;
  line-height: 24px;
  letter-spacing: 0%;
  max-width: 463px;
  padding-bottom: 30px;
}

.container__search {
  display: flex;
  margin-bottom: 20px;
}

.container__search-input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-size: 14px;
  max-width: 842px;
  height: 50px;

}

.container__search-btn {
  background: #FDAD6D;
  color: #8E4A4E;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  font-weight: bold;
  transition: 0.3s;
  font-family: Roboto;
}

.container__search-btn:hover {
  background: #e66900;
}

.container__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 630px;
  width: 100%;
}

.container__tag {
  background: #FFF2F2;
  color: #8E4A4E;
  font-size: 14px;
  padding: 8.5px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;

}
.container__tag--1 {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #8E4A4E;
  text-align: center;
  padding-top: 8.5px;
  padding-left: 20px;

}
.container__tag--1--img{
  padding-left: 5px;
}

.container__tag:hover {
  background: #ffcdd2;
}

.container__categories {
  padding-top: 15px;
  display: flex;
  gap: 20px;
  overflow-x: auto;
}

.container__category {
  text-align: center;
  min-width: 120px;
  cursor: pointer;
}

.container__category-img {
  padding-bottom: 5px;
}

.container__category-text {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  color: #43607C;
  line-height: 24px;
  letter-spacing: 0%;

}
.container__svg{
  margin-left: 789px;
  padding-top: 60px;
}
.container__right{
  margin-left: 80px;
}
.torts{
  max-width: 1472px;
  width: 100%;
  margin: 0 auto;
  margin-top: 80px;
}
.torts__top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.torts__container2{
    display: flex;
    justify-content: space-between;
    max-width: 1472px;
    width: 100%;
}
.torts__top--title{
  font-family: Yeseva One;
  font-weight: 400;
  font-style: Regular;
  font-size: 35px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #011936;
}
.torts__top--watch{
  max-width: 219px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.torts__top--watch--button{
  padding: 5.5px 20px 5.5px 20px;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #43607C;
  border-radius: 30px;
  background-color: #DCEBF8;
  border: none;
}
.card{
  width: 280px;
  box-shadow: 0px 2px 5px 0px #43607C26;
}
.card__price{
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #A63A50;
  padding-top: 10px;
  padding-bottom: 5px;
    padding-left: 15px;
}
.card__title{
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #011936;
  padding-bottom: 15px;
  padding-left: 15px;
  height: 50px;
  max-width: 250px;
}
.card__subeTitle{
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #84A6C2;
  padding-left: 15px;
  padding-bottom: 15px;
}
.container3{
  background-color: #DCEBF8;
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container3__title{
  font-family: Yeseva One;
  font-weight: 400;
  font-style: Regular;
  font-size: 35px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #011936;
  padding-top: 60px;
  padding-bottom: 10px;
}
.container3__subeTitle{
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #43607C;
}
.container3__button{
  margin-top: 20px;
  margin-bottom: 60px;
  padding: 8px 20px 8px 20px;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  color: white;
  background-color: #43607C;
  border: none;
  border-radius: 30px
}
.cardText{
  display: flex;
  justify-content: space-between;
  max-width: 475px;
  width: 100%;
  box-shadow: 0px 2px 10px 0px #43607C40;
}
.cardText__div--title{
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #43607C;
}
.cardText__div{
  max-width: 240px;
  width: 100%;
  padding: 23.5px 15px 23.5px 0px
}
.cardText__img{
  width: 180px;
  height: 180px;
  margin: 15px 25px 15px 15px;
  border-radius: 5px;
}
.cardText__div--subeTitle{
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: #A63A50;
  text-decoration: underline;
  padding-top: 5px;
  padding-bottom: 20px;
}
.cardText__div--text{
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #43607C;
}
.cardText__div--container{
  max-width: 180px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.cardText__div--container--button{
  padding: 2px 10px 2px 10px;
  color: #A63A50;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  background-color: #FFF2F2;
  border: none;
  border-radius: 30px;
}
.torts__container3{
    display: flex;
    justify-content: space-between;
    max-width: 1472px;
    width: 100%;
    margin-bottom: 80px;
}